body {
    background-color: grey;
}

.inner {
    background-color: white;
    width: 35%;
    margin: auto;
    margin-top: 20pt;
    height: 300pt;
    padding-top: 10pt;
}

.espnLogo {
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.x {
    width: 7%;
    margin-top: 15px;
    margin-right: 10pt;
    float: right;
}

.username , .password {
    width: 70%;
    height: 30pt;
    margin-bottom: 5pt;
    text-indent: 10px;
    font-size: 15px;
}


.input {
    text-align: center;
}

.bottom {
    text-align: center;
}

.login {
    background: blue;
    color: white;
}

.signUp {
    background: white;
    color: blue;
}

.signUp, .login {
    border: 1px solid blue;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

p {
    padding: 0% 10%;
}

.help {
    text-decoration: none;
    color: blue;
}

.help:hover {
    text-decoration: underline;
}

.signUp:hover {
    background: blue;
    color: white;
  }

